<footer class="footer mt-auto pb-3">
    <div class="footer-socials text-center">
        <ul class="py-1">
            <li><a alt="Facebook"><i class="fab fa-facebook-f"></i></a>
            <li><a alt="Instagram"><i class="fab fa-instagram"></i></a></li>
            <li><a alt="Twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a alt="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
            <li><a alt="Discord"><i class="fab fa-discord"></i></a></li>
        </ul>
    </div>
    <div class="footer-links container text-center">
        <div class="row justify-content-around">
            <div class="col-4">
                <a href="/">ISTEC</a>
            </div>
            <div class="col-4">
                <a href="/">Privacy Statement</a>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
                <a href="/">Contact Us</a>
            </div>
            <div class="col-4">
                <a href="/">Terms of Service</a>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
                <a href="/">Work at NoteFlex</a>
            </div>
            <div class="col-4">
                <a href="/">For the media</a>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
                <a href="/">RSS Feed</a>
            </div>
            <div class="col-4">
                <a href="/">Donate</a>
            </div>
        </div>
        <div class="container">
            <p class="small-font">Copyright © 2021 NoteFlex. All Rights Reserved.</p>
        </div>
    </div>
</footer>