<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>

  <header>
    <%- include('partials/header'); %>
      <div class="header-div">
        <img src="images/v788-mynt-84.jpg" class="header-image" alt="Welcome to NoteFlex!">
      </div>
  </header>

  <section>
    <div class="container-fluid mx-auto py-5 my-5 reveal">
      <h2 class="text-center">What is NoteFlex? <span class="text-muted">Meet
          Us</span>
      </h2>
      <p class="text-center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
        do eiusmod
        tempor
        incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      </p>
    </div>
  </section>

  <section></section>
  <div class="container-fluid py-5 px-5 tops reveal">
    <h2 class="pb-2 border-bottom">Browse Our Selection</h2>
    <div class="row g-5 py-5">
      <div class="col-md-3">
        <div class="feature-icon bg-gradient">
          <i class="far fa-sticky-note"></i>
        </div>
        <h2>Latest Notes</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with
          another
          sentence and
          probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link">
          Show me more!
          <i class="far fa-arrow-alt-circle-right bi" width="1em" height="1em"></i>
        </a>
      </div>
      <div class="feature col-md-3">
        <div class="feature-icon bg-gradient">
          <i class="far fa-comments"></i>
        </div>
        <h2>Popular Notes</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with
          another
          sentence and
          probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link">
          Show me more!
          <i class="far fa-arrow-alt-circle-right bi" width="1em" height="1em"></i>
        </a>
      </div>
      <div class="feature col-md-3">
        <div class="feature-icon bg-gradient">
          <i class="fas fa-user-edit"></i>
        </div>
        <h2>Top Rated Noters</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with
          another
          sentence and
          probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link">
          Show me more!
          <i class="far fa-arrow-alt-circle-right bi" width="1em" height="1em"></i>
        </a>
      </div>

      <div class="feature col-md-3">
        <div class="feature-icon bg-gradient">
          <i class="fab fa-searchengin"></i>
        </div>
        <h2>Top Searched</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with
          another
          sentence and
          probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link">
          Show me more!
          <i class="far fa-arrow-alt-circle-right bi" width="1em" height="1em"></i>
        </a>
      </div>
    </div>
  </div>
  </section>

  <section>
    <div class="container-fluid reveal">
      <div class="row">
        <div class="col-md-7 my-auto">
          <h2 class="text-center">Read what our noters are saying!</h2>
          <div class="quote-container mx-auto">
            <i class="pin"></i>
            <blockquote class="note yellow">
              Here's a quote by one of our noters, saying NoteFlex kicks ass. They're pretty cool.
              <cite class="author">- Noter</cite>
            </blockquote>
          </div>
        </div>
        <div class="col-md-5">
          <img src="images/3249754.jpg" class="img-fluid" width="500" height="500">

        </div>
      </div>
  </section>
  <section>
    <div class="container-fluid home-news reveal">
      <div class="text-center">
        <h2>Keep up to post(-it)!</h2>

        <p>Subscribe to our weekly Newsletter and stay tuned.</p>
        <form action="" method="post">
          <div class="input-group align-items-center mx-auto">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Enter your email" aria-label="Email"
              aria-describedby="basic-addon1">
            <button class="btn btn-outline-warning" type="button" id="button-addon2">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  </main>


  <footer>
    <%- include('partials/footer'); %>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
  <!-- Importar o JS -->
  <script src="javascripts/main.js"></script>
</body>

</html>